<h1>Restaurants</h1>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"> <h4> <%= restaurant.name%> </h4><i> (<%= restaurant.category %>)</i>  <%= restaurant.address %> <b>Phone:</b> <%= restaurant.phone_number %> <h5><%= link_to 'Read more', restaurant %></h5>  </li>
  <% end %>
</ul>

<button class="btn btn-warning mw-100"><%= link_to 'New Restaurant', new_restaurant_path %></button>
